.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 85%;
  background-color: white;
  height: 60px;
}

.navbar__icon {
  object-fit: contain;
  margin-left: 20px;
  width: 100px;
  height: 75px;
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-button {
  font-weight: 500;
  font-size: 2vh;
  color: black;
  text-decoration: none;
  margin-right: 30px;
  background: none;
  border: none;
  padding: 20px 15px;
  transition-property: "border-radius";
  transition-delay: 0.15s;
  transition-duration: 1s;
}
.form-button:hover {
  cursor: pointer;
  background-color: rgb(202, 187, 187);
  border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
  #aboutButton {
    visibility: hidden;
  }
}
